<!doctype html>
<html>
<head>
</head>
<body>

<?php 
echo '<h1>'.$greeting.'</h1>'; 

/*
class MyClass {
	public $prop1 = 'Свойство класса';
	
	public static $count = 0;
	
	public function __construct() {
		echo 'Создан объект класса "', __CLASS__,'"!<br>';
	}
	
	public function __destruct() {
		echo 'Обьект класса "', __CLASS__,'" удален <br>';
	}
	
	public function __toString() {
		echo 'Используем метод toString: ';
		return $this->getProperty();
	}
	public function setProperty($newval) {
		$this->prop1 = $newval;
	}
	
	private function getProperty() {
		return $this->prop1 . '<br>';
	}
	
	public static function plusOne() {
		return 'count = '.++self::$count.'<br>';
	}
	
}

class MyOtherClass extends MyClass {
	
	public function __construct() {
		parent::__construct(); 
		echo 'Новый конструктор в классе '. __CLASS__ .'<br>';
	}

	public function newMethod() {
		echo 'Из нового метода класса '. __CLASS__ .'<br>';
	}
	
	public function callProtected() {
		return $this->getProperty();
	}
	
}

do {
	echo MyClass::plusOne();
} while (MyClass::$count < 10);


/*
$newobj = new MyOtherClass;
echo $newobj->callProtected();
*/

/*
$obj = new MyClass;
echo $obj;
unset($obj);
echo 'Конец файла <br>'
*/
/*$obj->setProperty('Новое свойство');
echo $obj->getProperty();*/
#var_dump($obj);














?>


</body>
<html>